<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    <li>@Html.ActionLink("Type of Account", "Index", "Account_Type")</li>
             
                    <li>@Html.ActionLink("Address", "Index", "Addresses")</li>
                    <li>@Html.ActionLink("Bank Account", "Index", "BankAccounts")</li>
                    <li>@Html.ActionLink("Type of Card", "Index", "Card_Type")</li>
                    <li>@Html.ActionLink("Card", "Index", "Cards")</li>
                    
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Type of Transaction", "Index", "Transaction_Type")</li>
                    <li>@Html.ActionLink("Transaction", "Index", "Transactions")</li>
                  
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
